services:
    php:
        volumes:
            - .:/var/www/webapp:rw,cached
            
    db:
        ports:
            - "3306:3306"
    nginx:
        ports:
            - "8000:80"
            - "4430:443"