version: "3.6"
services:
#    php:
#        volumes:
#            - .:/var/www/webapp:rw,cached
            
    db:
        ports:
            - "3306:3306"
    nginx:
#        ports:
#            - "80:80"
#            - "443:443"
        ports:
            - "80:80"
            - "443"