version: "3.6"
services:
    php:
        volumes:
            - .:/var/www/webapp:rw,cached
        user: "1000:1000" 
    db:
        ports:
            - "3306:3306"
    nginx:
        ports:
            - "80:80"
            - "443:443"
